<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>个人信息</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <div>
        <h2 style="margin-bottom:5px;font-family: '微软雅黑';color: deepskyblue">专属校友录</h2>
        <div class="navbar-text navbar-right">

         <h4 style="margin-bottom:-10px;font-family: '微软雅黑';color: deepskyblue"> {{ student.stu_name }}</h4>
        </div>

    </div>
    <br>
    <div style="border-top: 40px;border-bottom: 10px">
        <hr>

    </div>

    <div class="jumbotron">
        <form class="form-horizontal"  role="form" action="/save_message/{{ student.id }}" method="POST">
            <div class="navbar-text navbar-right">
            </div>

             <div class="form-group row">
                           <h5>手机号：{{ student.stu_tel }}</h5>
             </div>
             <div class="form-group row">
                  <lable>请完善以下信息</lable>
             </div>

            {% if  student.stu_enter_time ==NULL %}
            <div class="form-group row">
                  <input type="text" class="form-control" id="e_time" name="e_time" placeholder="入学时间">
             </div>
            {% else %}
            <div class="form-group row">
                 <h5>入学时间： {{ student.stu_enter_time  }}</h5>
             </div>
            {% endif %}


            {% if  student.stu_company ==NULL %}
            <div class="form-group row">
                  <input type="text" class="form-control" id="e_time" name="company" placeholder="现公司名称">
             </div>
            {% else %}
            <div class="form-group row">
                 <h5>公司名称： {{ student.stu_company  }}</h5>
             </div>
             {% endif %}

            {% if  student.stu_trade ==NULL %}
            <div class="form-group row">
                  <input type="text" class="form-control" id="e_time" name="trade" placeholder="行业类型">
             </div>
            {% else %}
             <div class="form-group row">
                 <h5>行业： {{ student.stu_trade}}</h5>
             </div>
            {% endif %}

             {% if  student.stu_position ==NULL %}
            <div class="form-group row">
                  <input type="text" class="form-control" id="e_time" name="position" placeholder="职位">
             </div>
            {% else %}
            <div class="form-group row">
                 <h5>职位： {{ student.stu_position}}</h5>
             </div>

            {% endif %}

            {% if  student.stu_contact ==NULL %}
            <div class="form-group row">
                  <input type="text" class="form-control" id="e_time" name="mail" placeholder="邮箱">
             </div>
            {% else %}
              <div class="form-group row">
                 <h5>邮箱： {{ student.stu_contact}}</h5>
             </div>

            {% endif %}


            <div style="text-align: center">
             <button type="submit" class="btn btn-primary">保存</button>
         </div>
        </form>
        <br>
       </div>
 </div>
</div>
</body>
</html>